.block{
    display:inline-block;
    position: relative;
}
.table{
    height: 450px;
    background-color: white;
    margin-top: -330px;
    margin-left: 420px;
    margin-right: 230px;
    overflow-y: scroll;
    
}

.h1{
    position: relative;
   margin-left: 560px;
   top: -330px
    
}
.button{
    background-color: royalblue;
    border-radius: 15px;
    
}
.button:hover{
    color: white;
    cursor: pointer;
} 
.col-1{
    font-weight: bold;
    font-size: 16px;
}