<div id="block">
    <app-taskbar></app-taskbar>
</div>

<div id="block">
    <div class="h1"><h1>Danh sách giao dịch</h1></div>
    <div class="table-wrapper">
        
        <table class="fl-table">
            <thead>
            <tr class="col-1">
                <th>Mã giao dịch</th>
                <th>Tên giao dịch</th>
                <th>Danh mục</th>
                <th>Ngày</th>
                <th>Giá tiền</th>
                <th>Ghi chú</th>
                <th>Trạng thái</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let detail of details">
                <td>{{detail.id_detail}}</td>
                <td>{{detail.detail}}</td>
                <td>
                    <span *ngIf="detail.id_category==1">Xăng dầu</span>
                    <span *ngIf="detail.id_category==2">Giải trí</span>
                    <span *ngIf="detail.id_category==3">Điện nước</span>
                    <span *ngIf="detail.id_category==4">Du lịch</span>

                    <span *ngIf="detail.id_category==10">Lương</span>
                    <span *ngIf="detail.id_category==11">Thưởng</span>
                </td>
                <td>{{detail.date|date:'dd/MM/yyyy'}}</td>
                <td>{{detail.price|currency:"VND"}}</td>
                <td>{{detail.note}}</td>
                <td>
                    <span *ngIf="detail.status==0">Thu</span>
                    <span *ngIf="detail.status==1">Chi</span>
                </td>
                <td>  
                    <a id="btn-del" class="button" (click)="delete(detail)" >
                        <span>
                            <i class="fas fa-trash-alt"></i>
                        </span>
                    </a> 
                </td>
            </tr>
            </tbody>
        </table>
    </div>
  
</div>
