<div id="body">
  <div class="block">
    <app-taskbar></app-taskbar>
  </div>
  <div class="block">
    <div class="statistic">
      <p>Thống kê</p>
      <form>
        <form class="date" [formGroup]="formDate">
          <input formControlName="startDate" class="input-date" type="date" value="Từ ngày">
          <input formControlName="endDate" class="input-date" type="date" value="Đến ngày">
          <button class="btn-search" (click)="getDetailbyDate()"><i class="fas fa-search"></i></button>
        </form>
      </form>
      <div class="tong">
        <div class="thu">Tổng thu :</div>
        <div class="chi">Tổng chi :</div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
      <div class="chart" style="width: 40%;">
        <canvas
          baseChart
          [type]="'pie'"
          [legend]="true"
          [data]="pieChartData"
          [options]="chartOptions"
        >
        </canvas>
      </div>
      <div class="chart" style="width: 40%;">
        <canvas
          baseChart
          [type]="'pie'"
          [legend]="true"
          [data]="pieChartData1"
          [options]="chartOptions"
           
        >
        </canvas>
      </div>
    </div>
  </div>
</div>  