<div id="body">
    <div class="block">
      <app-taskbar></app-taskbar>
    </div>
    <div class="block">
        <div class="statistic">
            <p>Thống kê</p>
            <form>
                <div class="date">
                    <input class="input-date" type="date" value="Từ ngày">
                    <input class="input-date" type="date" value="Đến ngày">
                    <button class="btn-search"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <div class="tong">
                <div class="thu">Tổng thu :</div>
                <div class="chi">Tổng chi :</div>
            </div>
            <table>
                
            </table>
        </div>
    </div>
  </div>