<div id="body">
  <div class="block">
    <app-taskbar></app-taskbar>
  </div>
  <div class="block">
    <div class="statistic">
      <p>Thống kê</p>
      <div class="select">
        <input class="select-radio" type="radio" id="date" name="fav_language" [value]="true" [(ngModel)]="showMe">
        <label for="date">Thống kê theo ngày</label><br>
        <input class="select-radio" type="radio" id="year" name="fav_language" [value]="false" [(ngModel)]="showMe">
        <label for="year">Thống kê theo năm</label><br>
      </div>
      <!-- date -->
      <div class="pie" *ngIf="showMe">
        <div class="date" [formGroup]="formDate">
          <input formControlName="startDate" class="input-date" type="date" value="Từ ngày">
          -
          <input formControlName="endDate" class="input-date" type="date" value="Đến ngày">
          <a class="btn-search" (click)="getDetailbyDate()"><i class="fas fa-search"></i></a>
          
        </div>
        <div class="tong">
          <div class="thu">Tổng thu :{{sumIn|currency:"VND":"symbol"}}</div>
          <div class="chi">Tổng chi :{{sumSpend|currency:"VND":"symbol"}}</div>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Mã giao dịch</th>
              <th scope="col">Tên giao dịch</th>
              <th scope="col">Danh mục</th>
              <th scope="col">Ngày</th>
              <th scope="col">Giá tiền</th>
              <th scope="col">Ghi chú</th>
              <th scope="col">Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of details">
              <td>{{detail.id_detail}}</td>
              <td>{{detail.detail}}</td>
              <td>
                <span *ngIf="detail.id_category==2">Giải trí</span>
                        <span *ngIf="detail.id_category==3">Điện nước</span>
                        <span *ngIf="detail.id_category==4">Du lịch</span>
                        <span *ngIf="detail.id_category==5">Sức khỏe</span>
                        <span *ngIf="detail.id_category==6">Giáo dục</span>
                        <span *ngIf="detail.id_category==7">Shopping</span>

                        <span *ngIf="detail.id_category==10">Lương</span>
                        <span *ngIf="detail.id_category==11">Thưởng</span>
                        <span *ngIf="detail.id_category==12">Được tặng</span>
                        <span *ngIf="detail.id_category==13">Bán đồ</span>
              </td>
              <td>{{detail.date|date:'dd/MM/yyyy'}}</td>
              <td>{{detail.price|currency:"VND"}}</td>
              <td>{{detail.note}}</td>
              <td>
                <span *ngIf="detail.status==0">Thu</span>
                <span *ngIf="detail.status==1">Chi</span>
              </td>  
            </tr>
          </tbody>
        </table>
        <div>
          <!-- chart Pie -->
          <div style="display: flexbox;">
            <div class="chart">
              <label *ngIf="chart" style="font-weight: bold;text-align: center;">CHI TIÊU</label>
              <canvas id="canvas">{{ chart }}
              </canvas>
            </div>
            <div class="chart">
              <label *ngIf="chartIn" style="font-weight: bold;text-align: center;">THU NHẬP</label>
              <canvas id="canvasIn">{{chartIn}}
              </canvas>
            </div>
          </div>
        </div>
      </div>
      <!-- year -->
      <div class="bar" *ngIf="!showMe">
        <div class="year" [formGroup]="formDate">
        
          <select (change)="selectChangeHandler($event)" >
            <option *ngFor="let item of year1" [value]="item">{{item}}</option>
          </select>
          <a class="btn-search" (click)="getChartBar()"><i class="fas fa-search"></i></a>
        </div>
        <div class="tong">
          <div class="thu">Tổng thu :{{sumInYear|currency:"VND":"symbol"}}</div>
          <div class="chi">Tổng chi :{{sumSpendYear|currency:"VND":"symbol"}}</div>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Mã giao dịch</th>
              <th scope="col">Tên giao dịch</th>
              <th scope="col">Danh mục</th>
              <th scope="col">Ngày</th>
              <th scope="col">Giá tiền</th>
              <th scope="col">Ghi chú</th>
              <th scope="col">Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of detailsInYear">
              <td>{{detail.id_detail}}</td>
              <td>{{detail.detail}}</td>
              <td>
                <span *ngIf="detail.id_category==1">Xăng dầu</span>
                        <span *ngIf="detail.id_category==2">Giải trí</span>
                        <span *ngIf="detail.id_category==3">Điện nước</span>
                        <span *ngIf="detail.id_category==4">Du lịch</span>
                        <span *ngIf="detail.id_category==5">Sức khỏe</span>
                        <span *ngIf="detail.id_category==6">Giáo dục</span>
                        <span *ngIf="detail.id_category==7">Shopping</span>



                        <span *ngIf="detail.id_category==10">Lương</span>
                        <span *ngIf="detail.id_category==11">Thưởng</span>
                        <span *ngIf="detail.id_category==12">Được tặng</span>
                        <span *ngIf="detail.id_category==13">Bán đồ</span>
              </td>
              <td>{{detail.date|date:'dd/MM/yyyy'}}</td>
              <td>{{detail.price|currency:"VND"}}</td>
              <td>{{detail.note}}</td>
              <td>
                <span *ngIf="detail.status==0">Thu</span>
                <span *ngIf="detail.status==1">Chi</span>
              </td>
            </tr>
          </tbody>
        </table>

        <div>
          <!-- chartBar -->
          <div>
            <div class="chartBar">
              
              <canvas id="chartBar">{{ chartBar }}
              </canvas>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>